body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Updated to nowrap to keep items in a single row */
    overflow-x: auto; /* Added to enable horizontal scrolling if needed */
}

.movie-card {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}
